.tickets {
    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 20px;
    }

    &__alert {
        padding: 20px;
    }
}
