.tickets {
    &__tabs {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 0;
        list-style: none;
        margin-bottom: 20px;
        cursor: pointer;
    }

    &__tabs-item {
        align-content: center;
        background-color: #ffffff;
        width: 33.33%;
        height: 50px;
        border: 1px solid #dfe5ec;
        color: #4a4a4a;
        font-size: 12px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            background-color: #f1fcff;
        }

        &:first-child {
            border-radius: 5px 0 0 5px;
        }

        &:last-child {
            border-radius: 0 5px 5px 0;
        }

        &:active {
            background-color: #2196f3;
            color: white;
        }
    }
}
