.tickets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 502px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

@media (max-width: 600px) {
    .tickets {
        min-width: 300px;
        max-width: 502px;
    }
}
